{% extends "./layout.html" %}
{% block content %}
    {% include "./components/side-menu.html" %}
    <div class="page-info">
        <h2 class="page-headline">{{item.name}}</h2>
        <div class="item-description">{{item.description}}</div>
        <div class="item-category">{{item.address}}</div>

        <div class="button-wrapper">
            <a class="form-button"
                href="{{url_for('editItem',item_slug = item.slug )}}">Edit</a>
            <a class="form-button"
                href="{{url_for('deleteItem',item_slug = item.slug )}}">Delete</a>
        </div>
    </div>
{% endblock %}