<div class="page-header">
    <a class="page-logo" href="{{url_for('showCategoryList')}}">
        NeverBoringBerlin
    </a>
    <div class="page-login">
        {% if 'username' not in session %}
        <a href="{{url_for('showLogin')}}" class="login-button">
            Login
        </a>
        {% else %}
        <div class="profile-wrapper">
            <img src="{{ session['picture']}}" alt="profile image"
                class="profile-image">
            <a href="{{url_for('disconnect')}}" class="login-button">
                Logout
            </a>
        </div>
        {% endif %}	
    </div>
</div>